<div class="example-action-buttons">
    <button mat-button (click)="accordion.openAll()">Expand All</button>
    <button mat-button (click)="accordion.closeAll()">Collapse All</button>
  </div>
  <mat-accordion class="example-headers-align" multi>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Location
        </mat-panel-title>
        <mat-panel-description>
          Choose a location
          <mat-icon> location_on</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1">
      </mat-form-field>
    </mat-expansion-panel>
  
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Handset
        </mat-panel-title>
        <mat-panel-description>
          Choose a handset
          <mat-icon>mobile_friendly</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>
  
      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput>
      </mat-form-field>
  
      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1">
      </mat-form-field>
    </mat-expansion-panel>

    <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            User Activity
          </mat-panel-title>
          <mat-panel-description>
            Choose user activity criteria
            <mat-icon>mobile_friendly</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput>
          </mat-form-field>
      
          <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input matInput type="number" min="1">
          </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            User Plan
          </mat-panel-title>
          <mat-panel-description>
            Choose plan type
            <mat-icon>mobile_friendly</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput>
          </mat-form-field>
      
          <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input matInput type="number" min="1">
          </mat-form-field>
      </mat-expansion-panel>

      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            ARPU (EGP)
          </mat-panel-title>
          <mat-panel-description>
            Choose a handset
            <mat-icon>mobile_friendly</mat-icon>
          </mat-panel-description>
        </mat-expansion-panel-header>
    
        <mat-form-field appearance="fill">
            <mat-label>First name</mat-label>
            <input matInput>
          </mat-form-field>
      
          <mat-form-field appearance="fill">
            <mat-label>Age</mat-label>
            <input matInput type="number" min="1">
          </mat-form-field>
      </mat-expansion-panel>
  </mat-accordion>



  