.action-button{
    min-width: 40px;
    max-width: 40px;
    margin-bottom: 20px;
    min-height: 40px;
    max-height: 40px;
  }
  ::ng-deep ngx-material-timepicker-content{
    --body-background-color: #fff;
    --primary-font-family: 'Roboto',sans-serif;
    --button-color: #000000 !important;
    --dial-active-color: #fff;
    --dial-inactive-color: rgba(255, 255, 255, .5);
    --dial-background-color:#000000 !important;
    --dial-editable-active-color: #000000 !important;
    --dial-editable-background-color: #fff;
    --clock-face-time-active-color: #fff;
    --clock-face-time-inactive-color: #6c6c6c;
    --clock-face-inner-time-inactive-color: #929292;
    --clock-face-time-disabled-color: #c5c5c5;
    --clock-face-background-color: #f0f0f0;
    --clock-hand-color: #ff6600 !important;
  }

  .form-field-full{
    width:100%;
  }
  
  .form-field-half{
    margin-right: 10px;
  }
  
  .form-field-one-third{
    margin-right: 10px;
  }