<!DOCTYPE html>
<html>
<head>
  
</head>
<body>
    <mat-toolbar>
        <img class="orange-logo" src= "../../../../assets/icons/orange_logo.svg">
        <label style="color :white;">Mobile Advertising System - Bulk Campaign Submission </label>
        <span class="example-spacer"></span>
    </mat-toolbar>
    
    <div class= "cards-container"  fxLayoutGap="10px" fxLayoutGap.xs="0" >
        <mat-card fxFlexAlign="center"  [fxFlex] class="card">
            <mat-card-title>Sender Data</mat-card-title>
            <mat-card-content>
                <mat-form-field  class="col-lg-5" class ="form-field-full" appearance="fill">
                    <mat-label>Campagin SMS Sender Name:</mat-label>
                    <mat-select style = "width: 100%;" disableRipple>
                      <mat-option value="CPA">CPA</mat-option>
                      <mat-option value="saad">Saad</mat-option>
                      <mat-option value="fiat">Fiat</mat-option>
                      <mat-option value="audi">Audi</mat-option>

                    </mat-select>
                </mat-form-field>
                  
            </mat-card-content> 
        </mat-card>



        <mat-card fxFlexAlign="center" class="card">
            <mat-card-title>Campagin Details</mat-card-title>
            <mat-card-content style= "display: flex;flex-direction: row;flex-wrap: wrap; justify-content: center;align-items: center;">
                <mat-form-field style="flex: 1 0 100%" class="col-lg-5" class ="form-field-full" appearance="fill">
                    <mat-label>Campagin Location:</mat-label>
                    <mat-select style = "width: 100%;" disableRipple>
                      <mat-option value="cairo"> Cairo</mat-option>
                      <mat-option value="giza">Giza</mat-option>
                      <mat-option value="alex">Alex</mat-option>
                    </mat-select>
                </mat-form-field>

                <div style="flex: 1 0 50%" class = "date-picker">  
                    <label for="SMS">Campagin Start At:</label>
                    <input matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </div>


                <div style="flex:1 0 50%" class= "date-picker">  
                    <label for="SMS">Campagin Ends At:</label>
                    <input matInput [matDatepicker]="picker1">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
                    <mat-datepicker #picker1></mat-datepicker>
                </div>

                <mat-form-field style="flex: 1 0 45%" class="col-lg-5" class ="form-field-half" appearance="fill">
                    <mat-label>Campagin Includes:</mat-label>
                    <mat-select style = "width: 100%;" disableRipple>
                      <mat-option value="cairo"> Cairo</mat-option>
                      <mat-option value="giza">Giza</mat-option>
                      <mat-option value="alex">Alex</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="flex: 1 0 45%" class="col-lg-5" class ="form-field-half" appearance="fill">
                    <mat-label>Campagin Excludes:</mat-label>
                    <mat-select style = "width: 100%;" disableRipple>
                      <mat-option value="cairo"> Cairo</mat-option>
                      <mat-option value="giza">Giza</mat-option>
                      <mat-option value="alex">Alex</mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field style="flex: 1 0 30%" class="col-lg-5" class ="form-field-one-third" appearance="fill">
                    <mat-label>Quota</mat-label>
                    <textarea matInput
                              cdkTextareaAutosize
                              #autosize="cdkTextareaAutosize"
                              cdkAutosizeMinRows="1"
                              cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>

                <mat-form-field style="flex: 1 0 30%" class="col-lg-5" class ="form-field-one-third" appearance="fill">
                    <mat-label>Daily Limit</mat-label>
                    <textarea matInput
                              cdkTextareaAutosize
                              #autosize="cdkTextareaAutosize"
                              cdkAutosizeMinRows="1"
                              cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>


                <mat-form-field style="flex: 1 0 30%" class="col-lg-5" class ="form-field-one-third" appearance="fill">
                    <mat-label>Frequency</mat-label>
                    <textarea matInput
                              cdkTextareaAutosize
                              #autosize="cdkTextareaAutosize"
                              cdkAutosizeMinRows="1"
                              cdkAutosizeMaxRows="5"></textarea>
                </mat-form-field>
            </mat-card-content>
        </mat-card>


        <mat-card fxFlexAlign="center"  [fxFlex] class="card">
            <mat-card-title>SMS Message Details</mat-card-title>
            <mat-card-content>
                <mat-form-field  class="col-lg-5" class ="form-field-full" appearance="fill">
                    <mat-label>Campagin SMS Sender Name:</mat-label>
                    <mat-select style = "width: 100%;" disableRipple>
                      <mat-option value="CPA">CPA</mat-option>
                      <mat-option value="saad">Saad</mat-option>
                      <mat-option value="fiat">Fiat</mat-option>
                      <mat-option value="audi">Audi</mat-option>

                    </mat-select>
                </mat-form-field>
                  
            </mat-card-content> 
        </mat-card>


        
    </div>

</body>
</html>