<!DOCTYPE html>
<html>
<head>
  
</head>
<body>
    <app-header [title] = "'Mobile Advertising System - New Real-time Campaign'"></app-header>
    

    <div class= "cards-container"  fxLayoutGap="10px" fxLayoutGap.xs="0" >
        <mat-card fxFlexAlign="center"  [fxFlex] class="card">
            <mat-card-title>Sender Data</mat-card-title>
            <app-sender-data>
            </app-sender-data>
        </mat-card>



        <mat-card fxFlexAlign="center" class="card">
            <mat-card-title>Campagin Details</mat-card-title>
           <app-campagin-details>
           </app-campagin-details>
        </mat-card>


        <mat-card fxFlexAlign="center" [fxFlex] class="card" >
            <mat-card-title>SMS Message Details</mat-card-title>
            <app-message-details></app-message-details>

            <mat-card-actions class="sms-message-criteria" fxLayout="row" fxfxFlexAllign="center" style="text-align: center;">
                <h4 class="sms-message-criteria-font" fxfxFlexAllign="center" >SMS Enconding: ASCII(160/SMS)</h4>
                <h4 class="sms-message-criteria-font" fxfxFlexAllign="center" >Characters Count: 0/160</h4>
                <h4 class="sms-message-criteria-font" fxfxFlexAllign="center" >Messages Count: 1</h4>
                
            </mat-card-actions>
        </mat-card>   
    </div>

    <div style="margin-bottom: 20px;text-align: center;" > 
        <button fxfxFlexAllign="center" mat-button [routerLink]="'/home'">Create</button>
    </div>

</body>
</html>